<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CLOUD_NAME</key>
    <string>dpikfyzhe</string>
    <key>UPLOAD_PRESET</key>
    <string>swifttweet_upload</string>
    <key>UPLOAD_FOLDER</key>
    <string>ios_uploads</string>
</dict>
</plist>
